@charset "UTF-8";
/* sidebar.css */
:root {
  font: menu;
  --background-color: #ededf0;
  --background-active-color: #f9f9fa;
  --background-hover-color: #d7d7db;
  --background-hover-shadow: rgba(12, 12, 13, 0.1);
  --background-selection-color: #0a84ff;
  --background-selection-hover-color: #0060df;
  --border-color: #ccc;
  --border-active-color: #999;
  --foreground-color: #0c0c0d;
  --foreground-active-color: #0c0c0d;
  --foreground-hover-color: #0c0c0d;
  --foreground-highlight-color: #0a84ff;
  --foreground-selection-color: #f9f9fa;
  --foreground-selection-hover-color: #f9f9fa;
  --tab-group-pinned: #7d004f;
  --tab-group-1: #669;
  --tab-group-2: #c96;
  --tab-group-3: #366;
  --tab-group-4: #69c;
  --tab-group-5: #663;
  --tab-group-6: #c9c;
  --tab-group-7: #696;
  --scale-size: calc(1rem / 3);
  --tab-height: calc(var(--scale-size) * 8);
  --tab-height-compact: calc(var(--scale-size) * 6);
  --icon-size: calc(var(--scale-size) * 4);
  --icon-small-size: calc(var(--scale-size) * 3);
  --icon-x-small-size: calc(var(--scale-size) * 2);
}
.dark-theme {
  --background-color: #0c0c0d;
  --background-active-color: #38383d;
  --background-hover-color: #2a2a2e;
  --background-selection-color: #003eaa;
  --background-selection-hover-color: #0060df;
  --border-color: #666;
  --border-active-color: #999;
  --foreground-color: #f9f9fa;
  --foreground-active-color: #f9f9fa;
  --foreground-hover-color: #f9f9fa;
  --foreground-selection-color: #f9f9fa;
  --foreground-selection-hover-color: #f9f9fa;
}

/* structure */
body {
  margin: 0;
  padding: 0;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  background: var(--background-color);
  color: var(--foreground-color);
  fill: var(--foreground-color);
  stroke: var(--foreground-highlight-color);
}
main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/* tab-container */
.tab-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  z-index: 1;
}
.tab-container.newtab,
.tab-container.pinned {
  background-color: var(--background-color);
  color: var(--foreground-color);
  fill: var(--foreground-color);
  stroke: var(--foreground-highlight-color);
}

/* tab */
.tab {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  border: 1px solid var(--border-color);
  padding: 0;
  width: auto;
  height: var(--tab-height);
  max-height: var(--tab-height);
  transition: margin-top 0.1s, height 0.1s, border-top-width 0.1s,
              border-bottom-width 0.1s;
  user-select: none;
  z-index: 2;
}
.compact .tab {
  height: var(--tab-height-compact);
  max-height: var(--tab-height-compact);
}
.tab.active {
  background: var(--background-active-color);
  border-color: var(--border-active-color);
  color: var(--foreground-active-color);
  fill: var(--foreground-active-color);
  stroke: var(--foreground-highlight-color);
  z-index: 3;
}
.tab:hover,
.tab.active:hover {
  background: var(--background-hover-color);
  border-color: var(--border-active-color);
  color: var(--foreground-hover-color);
  fill: var(--foreground-hover-color);
  stroke: var(--foreground-highlight-color);
  z-index: 5;
}
.tab.highlighted {
  background: var(--background-selection-color);
  border-color: var(--border-active-color);
  color: var(--foreground-selection-color);
  fill: var(--foreground-selection-color);
  stroke: var(--foreground-highlight-color);
  z-index: 4;
}
.tab.highlighted:hover {
  background: var(--background-selection-hover-color);
  color: var(--foreground-selection-hover-color);
  fill: var(--foreground-selection-hover-color);
  stroke: var(--foreground-highlight-color);
}
.tab[hidden] {
  display: none;
}

/* tab items */
.tab-content {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
}
.tab-icon {
  margin: var(--scale-size);
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--foreground-color);
  stroke: var(--foreground-highlight-color);
}
.tab.active .tab-icon {
  fill: var(--foreground-active-color);
  stroke: var(--foreground-highlight-color);
}
.tab:hover .tab-icon,
.tab.active:hover .tab-icon {
  fill: var(--foreground-hover-color);
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted .tab-icon {
  fill: var(--foreground-selection-color);
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted:hover .tab-icon {
  fill: var(--foreground-selection-hover-color);
  stroke: var(--foreground-highlight-color);
}
.tab-title {
  display: block;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  mask-image: linear-gradient(to left, transparent, black 2em);
}
.tab-title:dir(rtl) {
  mask-image: linear-gradient(to right, transparent, black 2em);
}

/* audio */
.tab-audio {
  display: none;
}
.tab-audio.audible {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-small-size);
  margin: 0;
  padding: calc(var(--scale-size) / 2);
  height: var(--icon-small-size);
  fill: var(--foreground-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.active .tab-audio.audible {
  fill: var(--foreground-active-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab:hover .tab-audio.audible,
.tab.active:hover .tab-audio.audible {
  fill: var(--foreground-hover-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted .tab-audio.audible {
  fill: var(--foreground-selection-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted:hover .tab-audio.audible {
  fill: var(--foreground-selection-hover-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab-audio-icon {
  width: var(--icon-small-size);
  height: var(--icon-small-size);
}

/* contextual identities */
.tab-ident {
  display: none;
}
.tab-ident.identified {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-size);
  margin: 0;
  padding: calc(var(--scale-size) / 3);
  height: var(--icon-size);
}
.tab-ident-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* close button */
.tab-close {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-size);
  margin: var(--scale-size);
  border-radius: calc(var(--scale-size) / 2);
  padding: calc(var(--scale-size) / 3);
  height: var(--icon-size);
  fill: var(--foreground-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.active > .tab-close {
  fill: var(--foreground-active-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab:hover > .tab-close,
.tab.active:hover > .tab-close {
  fill: var(--foreground-hover-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted > .tab-close {
  fill: var(--foreground-selection-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.highlighted:hover > .tab-close {
  fill: var(--foreground-selection-hover-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab-close:hover {
  background-color: var(--background-hover-shadow);
}
.tab-close-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* pinned tabs */
.tab-container.pinned {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 6;
}
.tab-container.pinned .tab-close {
  display: none;
}
.tab-container:not(.pinned) .tab-pinned {
  display: none;
}
.tab-container.pinned .tab-pinned {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-size);
  margin: var(--scale-size);
  padding: calc(var(--scale-size) / 3);
  height: var(--icon-size);
  fill: var(--foreground-color);
  fill-opacity: 0.7;
  stroke: var(--foreground-highlight-color);
}
.tab-container.pinned > .tab.active > .tab-pinned {
  fill: var(--foreground-active-color);
  fill-opacity: 0.7;
  stroke: var(--foreground-highlight-color);
}
.tab-container.pinned > .tab:hover > .tab-pinned,
.tab-container.pinned > .tab.active:hover > .tab-pinned {
  fill: var(--foreground-hover-color);
  fill-opacity: 0.7;
  stroke: var(--foreground-highlight-color);
}
.tab-container.pinned > .tab.highlighted > .tab-pinned {
  fill: var(--foreground-selection-color);
  fill-opacity: 0.7;
  stroke: var(--foreground-highlight-color);
}
.tab-container.pinned > .tab.highlighted:hover > .tab-pinned {
  fill: var(--foreground-selection-hover-color);
  fill-opacity: 0.7;
  stroke: var(--foreground-highlight-color);
}
.tab-pinned-icon {
  flex: 0 0 var(--icon-small-size);
}

/* new tab */
.tab-container.newtab {
  position: sticky;
  bottom: 0;
  z-index: 6;
}
.tab.newtab {
  border-color: transparent;
  fill: var(--foreground-color);
  fill-opacity: 0.8;
  stroke: none;
}
.tab.newtab:hover {
  border-color: var(--border-active-color);
  fill: var(--foreground-hover-color);
  fill-opacity: 0.8;
  stroke: none;
  z-index: 7;
}
.tab.newtab > .newtab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
}

/* tab group */
.tab-group.tab-collapsed > .tab:not(:first-child) {
  margin-top: 0;
  height: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  overflow: hidden;
}
.tab-context {
  display: none;
}
.tab-group > .tab > .tab-context {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-small-size);
  height: var(--tab-height);
}
.compact .tab-group > .tab > .tab-context {
  height: var(--tab-height-compact);
}
.tab-group.tab-collapsed > .tab > .tab-context > .tab-toggle-icon {
  transform: rotate(-90deg);
}
.tab-group > .tab:not(:first-child) > .tab-context > .tab-toggle-icon {
  display: none;
}
.tab-group > .tab > .tab-context > .tab-toggle-icon {
  margin: 0;
  width: var(--icon-x-small-size);
  height: var(--icon-x-small-size);
  transition: transform 0.1s;
}

.tab-group:nth-child(7n + 1) > .tab > .tab-context {
  background-color: var(--tab-group-1);
}
.tab-group:nth-child(7n + 2) > .tab > .tab-context {
  background-color: var(--tab-group-2);
}
.tab-group:nth-child(7n + 3) > .tab > .tab-context {
  background-color: var(--tab-group-3);
}
.tab-group:nth-child(7n + 4) > .tab > .tab-context {
  background-color: var(--tab-group-4);
}
.tab-group:nth-child(7n + 5) > .tab > .tab-context {
  background-color: var(--tab-group-5);
}
.tab-group:nth-child(7n + 6) > .tab > .tab-context {
  background-color: var(--tab-group-6);
}
.tab-group:nth-child(7n) > .tab > .tab-context {
  background-color: var(--tab-group-7);
}
.tab-group.pinned > .tab > .tab-context {
  background-color: var(--tab-group-pinned);
}
