@charset "UTF-8";
/* sidebar.css */
:root {
  font: menu;
  --background-color: #202340;
  --background-active-color: #F9F9FA;
  --background-hover-color: #363959;
  --background-hover-shadow: rgba(249, 249, 250, 0.2);
  --background-selection-color: #0A84FF;
  --border-color: #666;
  --border-active-color: #CCC;
  --border-secondary-color: #999;
  --foreground-color: #FFF;
  --foreground-secondary-color: #F9F9FA;
  --foreground-active-color: #0C0C0D;
  --foreground-active-secondary-color: #737373;
  --foreground-hover-color: #FFF;
  --foreground-highlight-color: #0A84FF;
  --foreground-selection-color: #FFF;
  --tab-group-1: #366;
  --tab-group-2: #C96;
  --tab-group-3: #669;
  --tab-group-4: #696;
  --tab-group-5: #966;
  --tab-group-6: #69C;
  --tab-group-7: #663;
  --tab-group-8: #C9C;
  --scale-size: calc(1rem / 3);
  --tab-height: calc(var(--scale-size) * 8);
  --icon-size: calc(var(--scale-size) * 4);
  --icon-small-size: calc(var(--scale-size) * 3);
  --icon-x-small-size: calc(var(--scale-size) * 2);
}
.light-theme {
  --background-color: #EDEDF0;
  --background-active-color: #F9F9FA;
  --background-hover-color: #D7D7DB;
  --background-hover-shadow: rgba(12, 12, 13, 0.1);
  --background-selection-color: #0A84FF;
  --border-color: #CCC;
  --border-active-color: #999;
  --border-secondary-color: #666;
  --foreground-color: #0C0C0D;
  --foreground-secondary-color: #737373;
  --foreground-active-color: #0C0C0D;
  --foreground-active-secondary-color: #737373;
  --foreground-hover-color: #0C0C0D;
}
.dark-theme {
  --background-color: #0C0C0D;
  --background-active-color: #38383D;
  --background-hover-color: #2A2A2E;
  --background-selection-color: #0A84FF;
  --border-color: #666;
  --border-active-color: #CCC;
  --border-secondary-color: #999;
  --foreground-color: #FFF;
  --foreground-secondary-color: #F9F9FA;
  --foreground-active-color: #FFF;
  --foreground-active-secondary-color: #F9F9FA;
  --foreground-hover-color: #FFF;
  --foreground-selection-color: #FFF;
}
body {
  margin: 0;
  padding: 0;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  background: var(--background-color);
  color: var(--foreground-color);
  fill: var(--foreground-color);
  stroke: var(--foreground-highlight-color);
}
main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/* tab-container */
.tab-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  z-index: 1;
}

/* tab */
.tab {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  border: 1px solid var(--border-color);
  padding: 0;
  min-width: min-content;
  width: auto;
  height: var(--tab-height);
  transition: margin-top 0.1s, height 0.1s, border-top-width 0.1s,
              border-bottom-width 0.1s;
  -moz-user-select: none;
  user-select: none;
  z-index: 2;
}
.tab.active {
  border: 1px solid var(--border-active-color);
  background: var(--background-active-color);
  color: var(--foreground-active-color);
  fill: var(--foreground-active-color);
  stroke: var(--foreground-highlight-color);
  z-index: 3;
}
.tab.highlighted {
  border: 1px solid var(--border-active-color);
  background: var(--background-selection-color);
  color: var(--foreground-selection-color);
  fill: var(--foreground-selection-color);
  stroke: var(--foreground-selection-color);
  z-index: 4;
}
.tab:hover,
.tab:focus {
  border: 1px solid var(--border-active-color);
  background: var(--background-hover-color);
  color: var(--foreground-hover-color);
  fill: var(--foreground-hover-color);
  stroke: var(--foreground-highlight-color);
  z-index: 5;
}

/* new tab */
.tab-container.newtab {
  position: sticky;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 6;
}
.tab.newtab {
  border-color: transparent;
  fill: var(--foreground-secondary-color);
  fill-opacity: 0.6;
  stroke: none;
}
.light-theme .tab.newtab {
  fill: var(--foreground-color);
  fill-opacity: 0.7;
}
.tab.newtab:hover,
.tab.newtab:focus {
  border-color: var(--border-active-color);
  z-index: 7;
}
.tab.newtab > .newtab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
}

/* tab items */
.tab-content {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
}
.tab-icon {
  margin: var(--scale-size);
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--foreground-color);
  fill-opacity: 1.0;
  stroke: var(--foreground-highlight-color);
}
.tab.active .tab-icon {
  fill: var(--foreground-active-color);
}
.tab.active:focus .tab-icon,
.tab.active:hover .tab-icon {
  fill: var(--foreground-color);
}
.tab-title {
  display: block;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  mask-image: linear-gradient(to left, transparent, black 2em);
}
.tab-title:dir(rtl) {
  mask-image: linear-gradient(to right, transparent, black 2em);
}

/* audio */
.tab-audio {
  display: none;
}
.tab-audio.audible {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-small-size);
  margin: 0;
  padding: calc(var(--scale-size) / 2);
  height: var(--icon-small-size);
  fill: var(--foreground-secondary-color);
  fill-opacity: 0.8;
  stroke: var(--foreground-highlight-color);
}
.tab.active .tab-audio.audible {
  fill: var(--foreground-active-color);
}
.dark-theme .tab.active .tab-audio.audible {
  fill: var(--foreground-active-secodary-color);
}
.tab.active:hover .tab-audio.audible {
  fill: var(--foreground-secondary-color);
}
.light-theme .tab-audio.audible,
.light-theme .tab.active .tab-audio.audible,
.light-theme .tab.active:hover .tab-audio.audible {
  fill: var(--foreground-color);
}
.tab-audio-icon {
  width: var(--icon-small-size);
  height: var(--icon-small-size);
}

/* close button */
.tab-close {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-size);
  margin: var(--scale-size);
  border-radius: calc(var(--scale-size) / 2);
  padding: calc(var(--scale-size) / 3);
  height: var(--icon-size);
  fill: var(--foreground-secondary-color);
  fill-opacity: 0.8;
}
.tab.active > .tab-close {
  fill: var(--foreground-active-color);
}
.tab:hover > .tab-close,
.tab:focus > .tab-close,
.tab.active:hover > .tab-close,
.tab.active:focus > .tab-close {
  fill: var(--foreground-secondary-color);
}
.light-theme .tab-close,
.light-theme .tab.active > .tab-close,
.light-theme .tab:hover > .tab-close,
.light-theme .tab:focus > .tab-close,
.light-theme .tab.active:hover > .tab-close,
.light-theme .tab.active:focus > .tab-close {
  fill: var(--foreground-color);
}
.tab-close:hover,
.tab-close:focus {
  background-color: var(--background-hover-shadow);
}
.tab-close-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* pinned tab */
.tab-container.pinned {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 6;
}
.tab-container.pinned .tab-close {
  display: none;
}
.tab-container:not(.pinned) .tab-pinned {
  display: none;
}
.tab-container.pinned .tab-pinned {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-size);
  margin: var(--scale-size);
  padding: calc(var(--scale-size) / 3);
  height: var(--icon-size);
  fill: var(--foreground-color);
  fill-opacity: 0.5;
  stroke: none;
}
.light-theme .tab-container.pinned .tab-pinned {
  fill-opacity: 0.6;
}
.tab-container.pinned > .tab.active > .tab-pinned {
  fill: var(--foreground-active-color);
}
.tab-container.pinned > .tab:hover > .tab-pinned,
.tab-container.pinned > .tab:focus > .tab-pinned,
.tab-container.pinned > .tab.active:hover > .tab-pinned,
.tab-container.pinned > .tab.active:focus > .tab-pinned {
  fill: var(--foreground-hover-color);
}
.tab-pinned-icon {
  flex: 0 0 var(--icon-small-size);
}

/* tab group */
.tab-group.tab-collapsed > .tab:not(:first-child) {
  margin-top: 0;
  height: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  overflow: hidden;
}
.tab-context {
  display: none;
}
.tab-group > .tab > .tab-context {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 var(--icon-small-size);
  height: var(--tab-height);
  fill: var(--foreground-selection-color);
}
.tab-group:nth-child(8n + 1) > .tab > .tab-context {
  background-color: var(--tab-group-1);
}
.tab-group:nth-child(8n + 2) > .tab > .tab-context {
  background-color: var(--tab-group-2);
}
.tab-group:nth-child(8n + 3) > .tab > .tab-context {
  background-color: var(--tab-group-3);
}
.tab-group:nth-child(8n + 4) > .tab > .tab-context {
  background-color: var(--tab-group-4);
}
.tab-group:nth-child(8n + 5) > .tab > .tab-context {
  background-color: var(--tab-group-5);
}
.tab-group:nth-child(8n + 6) > .tab > .tab-context {
  background-color: var(--tab-group-6);
}
.tab-group:nth-child(8n + 7) > .tab > .tab-context {
  background-color: var(--tab-group-7);
}
.tab-group:nth-child(8n) > .tab > .tab-context {
  background-color: var(--tab-group-8);
}
.tab-group.pinned > .tab > .tab-context {
  background-color: var(--background-selection-color);
}
.tab-group.tab-collapsed > .tab > .tab-context > .tab-toggle-icon {
  transform: rotate(-90deg);
}
.tab-group > .tab:not(:first-child) > .tab-context > .tab-toggle-icon {
  display: none;
}
.tab-group > .tab > .tab-context > .tab-toggle-icon {
  margin: 0;
  width: var(--icon-x-small-size);
  height: var(--icon-x-small-size);
  transition: transform 0.1s;
}
